In [1]:
print("hello world!")

hello world!

In [2]:
import os
print(os.getcwd())
print(os.listdir())

C:\Users\scott_vjx1uyx\SG
['.ipynb_checkpoints', 'jupyter_notebook_test_0.ipynb', 'world_population_dataset']

In [3]:
import pandas as pd
df0 = pd.read_csv('world_population_dataset/world_population.csv')
world_total_pop = df0['2022 Population'].sum()
print("Total world population: " + str(world_total_pop))

df1 = df0.loc[df0['2022 Population'] > 200000000]
df2 = df1.sort_values('2022 Population', ascending=False)
df2.to_csv('world_population_dataset/world_population_2m.csv')

Total world population: 7973413042

In [4]:
df3 = pd.read_csv('world_population_dataset/world_population_2m.csv')
#print(df3)

In [5]:
world_pop_dir_list = os.listdir('world_population_dataset')

In [6]:
[print(i) for i in world_pop_dir_list]

List of the Countries and Territories.txt
world_population.csv
world_population_2m.csv

[None, None, None]

In [7]:
df4 = pd.DataFrame().assign(Country=df0['Country'], Current_Population=df0['2022 Population'])
df5 = df4.sort_values('Current_Population', ascending=False)
df_current_pop = df5
df_current_pop.reset_index(drop=True, inplace=True)
#print(df_current_pop)

In [8]:
df6 = pd.DataFrame().assign(Country=df0['Country'], Population_1970=df0['1970 Population'])
df7 = df6.sort_values('Population_1970', ascending=False)
df_1970_pop = df7
df_1970_pop.reset_index(drop=True, inplace=True)
#print(df_1970_pop)

In [9]:
### merge >> join, concat ###
df_result = pd.merge(df_current_pop, df_1970_pop, on='Country')
#print(df_result)

In [10]:
def f(x):
    return (x[1]/x[2])

df_result['Current_Population'] = df_result['Current_Population'].astype(int)
df_result['Population_1970'] = df_result['Population_1970'].astype(int)

growth = df_result.apply(f, axis=1)         ### creates dictionary
df_growth = pd.DataFrame.from_dict(growth)  ### convert dictionary to dataframe
df_growth = df_growth.rename(columns={0: "52y Growth Rate"})

In [11]:
df_more = df_result.join(df_growth)
#print(df_more)

In [12]:
direction = 0
df_more = df_more.sort_values('52y Growth Rate', ascending=direction)

In [13]:
df_more

,Country,Current_Population,Population_1970,52y Growth Rate
96,United Arab Emirates,9441129,298084,31.672713
142,Qatar,2695122,118007,22.838662
181,Mayotte,326101,35383,9.216319
211,Turks and Caicos Islands,45703,5665,8.067608
159,Djibouti,1120849,144379,7.763241
...,...,...,...,...
130,Georgia,3744385,4800426,0.780011
150,Latvia,1850651,2397414,0.771936
233,Vatican City,510,752,0.678191
229,Montserrat,4390,11402,0.385020
231,Niue,1934,5185,0.372999

In [14]:
print(df_more.to_string())

                              Country  Current_Population  Population_1970  52y Growth Rate
96               United Arab Emirates             9441129           298084        31.672713
142                             Qatar             2695122           118007        22.838662
181                           Mayotte              326101            35383         9.216319
211          Turks and Caicos Islands               45703             5665         8.067608
159                          Djibouti             1120849           144379         7.763241
171                    Western Sahara              575986            76371         7.541947
82                             Jordan            11285869          1557374         7.246730
213                      Sint Maarten               44175             6260         7.056709
126                              Oman             4576298           670693         6.823238
153                           Bahrain             1472233           222555         6.615142
183                     French Guiana              304557            46484         6.551867
204                    Cayman Islands               68706            10533         6.522928
40                       Saudi Arabia            36408820          6106191         5.962607
41                             Angola            35588987          6029700         5.902282
53                              Niger            26207977          4669708         5.612337
219                      Saint Martin               31791             5802         5.479317
128                            Kuwait             4268873           802786         5.317573
151                 Equatorial Guinea             1674908           316955         5.284372
51                        Ivory Coast            28160542          5477086         5.141519
141                            Gambia             2705992           528731         5.117899
45                              Yemen            33696614          6843607         4.923809
14                           DR Congo            99010212         20151733         4.913236
209          Northern Mariana Islands               49551            10143         4.885241
68                               Chad            17723315          3667394         4.832673
21                           Tanzania            65497748         13618192         4.809577
69                            Somalia            17597511          3720977         4.729272
26                              Kenya            54027487         11473087         4.709063
121                         Palestine             5250072          1118241         4.694938
62                             Zambia            20017675          4281671         4.675202
30                             Uganda            47249585         10317212         4.579685
227                  Saint Barthelemy               10967             2417         4.537443
34                               Iraq            44496122          9811347         4.535170
49                         Madagascar            29611714          6639751         4.459763
143                          Botswana             2630296           592244         4.441237
76                              Benin            13352864          3023443         4.416443
61                             Malawi            20405317          4625141         4.411826
11                           Ethiopia           123379924         28308246         4.358445
52                           Cameroon            27914536          6452787         4.325966
113             Republic of the Congo             5970424          1396989         4.273780
173                          Maldives              523787           123243         4.250034
125                        Mauritania             4736139          1122198         4.220413
165                   Solomon Islands              724273           172833         4.190594
31                              Sudan            46874204         11305206         4.146249
92                   Papua New Guinea            10142619          2489059         4.074881
57                       Burkina Faso            22673762          5611666         4.040469
99                               Togo             8848699          2197383         4.026926
202                           Andorra               79824            19860         4.019335
145                             Gabon             2388992           597192         4.000375
4                            Pakistan           235824862         59290872         3.977423
71                            Senegal            17316449          4367744         3.964621
5                             Nigeria           218541212         55569264         3.932771
47                         Mozambique            32969517          8411676         3.919494
35                        Afghanistan            41128771         10752971         3.824875
46                              Ghana            33475870          8861895         3.777507
180                           Vanuatu              326740            87019         3.754812
88                           Honduras            10432860          2782753         3.749115
77                            Burundi            12889576          3497834         3.685016
58                               Mali            22593590          6153587         3.671613
120                           Liberia             5302681          1463563         3.623131
106                             Libya             6812341          1909177         3.568208
148                     Guinea-Bissau             2105566           591663         3.558725
75                             Rwanda            13776698          3896367         3.535780
59                              Syria            22125249          6319199         3.501274
162                           Comoros              836774           242351         3.452736
144                           Namibia             2567012           754467         3.402418
174                            Brunei              449002           133343         3.367271
176                            Belize              405272           120905         3.351987
94                         Tajikistan             9952787          2993019         3.325334
44                           Malaysia            33938221         10306508         3.292892
74                             Guinea            13859341          4222374         3.282358
67                          Guatemala            17843908          5453208         3.272185
220            British Virgin Islands               31305             9581         3.267404
85                        South Sudan            10913164          3342410         3.265058
33                            Algeria            44903225         13795915         3.254820
13                              Egypt           110990103         34781986         3.191023
73                           Zimbabwe            16320537          5202918         3.136805
16                               Iran            88550570         28449705         3.112530
97                             Israel             9038309          2907307         3.108825
101                      Sierra Leone             8605718          2778557         3.097190
12                        Philippines           115559009         37435586         3.086876
186             Sao Tome and Principe              227380            77583         2.930797
110                      Turkmenistan             6430770          2201432         2.921176
66                            Ecuador            18001000          6172215         2.916457
127                            Panama             4408581          1516188         2.907674
112                         Singapore             5975689          2061831         2.898244
131                           Eritrea             3684032          1272748         2.894549
42                         Uzbekistan            34627652         12011361         2.882908
105                         Nicaragua             6948392          2444767         2.842149
108                          Paraguay             6780744          2408787         2.815004
102                              Laos             7529475          2675283         2.814459
166                             Macau              695168           247284         2.811213
123                        Costa Rica             5180829          1855697         2.791851
158                          Eswatini             1201670           442865         2.713400
116          Central African Republic             5579144          2067356         2.698686
23                       South Africa            59893885         22368306         2.677623
79                            Bolivia            12224110          4585693         2.665706
133                          Mongolia             3398366          1293880         2.626492
164                            Bhutan              782455           298894         2.617834
184                     New Caledonia              289950           110982         2.612586
182                  French Polynesia              306279           117891         2.597985
1                               India          1417173173        557501301         2.542009
9                              Mexico           127504125         50289306         2.535412
7                          Bangladesh           171186372         67541860         2.534523
223                          Anguilla               15857             6283         2.523794
43                               Peru            34049588         13562371         2.510593
83                 Dominican Republic            11228821          4475871         2.508745
72                           Cambodia            16767842          6708525         2.499483
50                          Venezuela            28301696         11355475         2.492339
27                           Colombia            51874024         20905254         2.481387
81                              Haiti            11584996          4680812         2.474997
39                            Morocco            37457971         15274351         2.452345
78                            Tunisia            12356117          5047404         2.448014
48                              Nepal            30547580         12501285         2.443555
154                       Timor-Leste             1341296           554021         2.421020
17                             Turkey            85341241         35540990         2.401206
3                           Indonesia           275501339        115228394         2.390915
15                            Vietnam            98186856         41928849         2.341749
118                           Lebanon             5489739          2381791         2.304879
175                           Bahamas              409984           179129         2.288764
191                          Kiribati              131232            57437         2.284799
146                           Lesotho             2305825          1023481         2.252924
6                              Brazil           215313498         96369875         2.234241
109                        Kyrgyzstan             6630623          3016384         2.198203
54                          Australia            26177413         12595034         2.078392
170                        Cape Verde              593149           287262         2.064836
160                           Reunion              974052           473925         2.055287
19                           Thailand            71697030         35791728         2.003173
64                              Chile            19603733          9820481         1.996209
25                            Myanmar            54179306         27284112         1.985746
195                        Seychelles              107118            54379         1.969841
157                            Cyprus             1251488           640804         1.952997
226                            Tuvalu               11312             5814         1.945648
190                              Guam              171774            88300         1.945345
193                        Micronesia              114164            58989         1.935344
90                         Azerbaijan            10358074          5425317         1.909211
32                          Argentina            45510318         23842803         1.908765
167                        Luxembourg              647599           339342         1.908396
224                             Nauru               12668             6663         1.901246
103                         Hong Kong             7488865          3955072         1.893484
215                     Liechtenstein               39327            21089         1.864811
217                        San Marino               33660            18169         1.852606
122                       New Zealand             5185288          2824061         1.836110
178                           Iceland              372899           204468         1.823752
197                             Aruba              106445            59106         1.800917
38                             Canada            38454327         21434577         1.794032
60                          Sri Lanka            21832143         12388769         1.762253
161                              Fiji              929766           527634         1.762142
111                       El Salvador             6336392          3619090         1.750825
189                       Saint Lucia              179857           103090         1.744660
55                        North Korea            26069416         14996879         1.738323
214                  Marshall Islands               41569            23969         1.734282
0                               China          1425887337        822534450         1.733529
124                           Ireland             5023109          2937637         1.709915
172                             Malta              533286           315414         1.690749
2                       United States           338289857        200328340         1.688677
230                  Falkland Islands                3780             2274         1.662269
212                    American Samoa               44273            27075         1.635199
169                          Suriname              618040           379918         1.626772
194                            Jersey              110778            68347         1.620817
56                             Taiwan            23893394         14957870         1.597379
28                        South Korea            51815810         32601143         1.589386
221                             Palau               18055            11366         1.588510
65                         Kazakhstan            19397998         12265305         1.581534
199      United States Virgin Islands               99465            63446         1.567711
156                         Mauritius             1299469           830115         1.565408
187                             Samoa              222382           142771         1.557613
152               Trinidad and Tobago             1531044           988890         1.548245
201                       Isle of Man               84519            55298         1.528428
138                           Jamaica             2827377          1859091         1.520838
216                            Monaco               36469            24270         1.502637
200               Antigua and Barbuda               93763            64516         1.453329
100                       Switzerland             8740472          6181227         1.414035
29                              Spain            47558630         33792617         1.407367
119                            Norway             5434319          3875546         1.402207
208                     Faroe Islands               53090            38416         1.381976
70                        Netherlands            17564014         13037686         1.347173
86                             Sweden            10549347          8027702         1.314118
22                             France            64626628         50523586         1.279138
188                           Curacao              191163           150385         1.271157
192                           Grenada              125438            98794         1.269692
84                               Cuba            11212191          8869636         1.264109
149                   North Macedonia             2093599          1656783         1.263653
115                          Slovakia             5643453          4522867         1.247760
177                        Guadeloupe              395752           318310         1.243291
207                         Greenland               56466            45434         1.242814
196                             Tonga              106858            86484         1.235581
225                 Wallis and Futuna               11572             9377         1.234083
205                           Bermuda               64184            52019         1.233857
36                             Poland            39857145         32482943         1.227018
132                           Uruguay             3422794          2790265         1.226691
218                         Gibraltar               32649            26685         1.223496
137                           Albania             2842321          2324731         1.222645
147                          Slovenia             2119844          1741286         1.217401
89                             Greece            10384971          8544873         1.215345
20                     United Kingdom            67508936         55650166         1.213095
80                            Belgium            11655930          9629376         1.210455
117                           Finland             5540745          4606621         1.202779
206                          Guernsey               63301            52656         1.202161
98                            Austria             8939617          7465301         1.197489
114                           Denmark             5882261          4922963         1.194862
135                       Puerto Rico             3252407          2737619         1.188042
91                           Portugal            10270865          8683631         1.182785
168                        Montenegro              627082           530268         1.182576
10                              Japan           123951692        105416839         1.175824
185                          Barbados              281635           241397         1.166688
163                            Guyana              808726           705261         1.146705
179                        Martinique              367507           326428         1.125844
8                              Russia           144713314        130093010         1.112383
24                              Italy            59037474         53324036         1.107146
139                           Armenia             2780469          2534377         1.097102
232                           Tokelau                1871             1714         1.091599
87                     Czech Republic            10493986          9795744         1.071280
18                            Germany            83369843         78294583         1.064823
210             Saint Kitts and Nevis               47657            44968         1.059798
228         Saint Pierre and Miquelon                5862             5537         1.058696
203                          Dominica               72737            68895         1.055766